:root {
  --font-roboto: 'Roboto', sans-serif;
  --font-roboto-serif: 'Roboto Serif', serif;
  --font-roboto-mono: 'Roboto Mono', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #F7FAFD;
  font-family: var(--font-roboto-serif);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-roboto);
}

code {
  font-family: var(--font-roboto-mono);
}

.mantine-AppShell-header {
  background-color: #ffffff;
  border-bottom: 1px solid #e9ecef;
}

a {
  color: #2C6496;
  text-decoration: none;
}